/* Your custom css code goes here */
.slider {
    height: 300px;
}

.toggle_radio{
    position: relative;
    background: rgba(255,255,255,.1);
    margin: 4px auto;
    overflow: hidden;
    padding: 0 !important;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    position: relative;
    height: 26px;
    width: 318px;
  }
  .toggle_radio > * {
    float: left;
  }
  .toggle_radio input[type=radio]{
    display: none;
    /*position: fixed;*/
  }
  .toggle_radio label{
    font: 90%/1.618 "Source Sans Pro";
    color: rgba(255,255,255,.9);
    z-index: 0;
    display: block;
    width: 100px;
    height: 20px;
    margin: 3px 3px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    cursor: pointer;
    z-index: 1;
    /*background: rgba(0,0,0,.1);*/
    text-align: center;
    /*margin: 0 2px;*/
    /*background: blue;*/ /*make it blue*/
  }
  .toggle_option_slider{
    /*display: none;*/
    /*background: red;*/
    width: 100px;
    height: 20px;
    position: absolute;
    top: 3px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    -ms-transition: all .4s ease;
    transition: all .4s ease;
  }
  
  #first_toggle:checked ~ .toggle_option_slider{
    background: rgba(255,255,255,.3);
    left: 3px;
  }
  #second_toggle:checked ~ .toggle_option_slider{
    background: rgba(255,255,255,.3);
    left: 109px;
  }
  #third_toggle:checked ~ .toggle_option_slider{
    background: rgba(255,255,255,.3);
    left: 215px;
  }

.ui-widget-content {
  border: 1px solid #000000 !important;
  background: #000000 !important;
  color: #ffffff !important;
}

.ui-widget-header {     
  border: 1px solid #ae0014 !important;
  background: #ae0014 !important;
  color: #000000 !important;
  font-weight: bold !important;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  border: 1px solid #ae0014 !important;
  background: #ae0014 !important;
  font-weight: bold !important;
  color: #ffffff !important;
}

.pagination > .disabled > a, .pagination > .disabled > a:focus, .pagination > .disabled > a:hover, .pagination > .disabled > span, .pagination > .disabled > span:focus, .pagination > .disabled > span:hover {
  color: #fff !important;
  background-color: #000 !important;
  border-color: #ae0014 !important;
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
  z-index: 3; 
  color: #fff;
  cursor: default;
  background-color:#ae0014 !important;
  border-color:#ae0014 !important;
}

div.dataTables_wrapper div.dataTables_filter input {
  margin-left: 0.5em;
  display: inline-block;
  width: auto;
  background-color: #000 !important;
  border-color: #ae0014 !important;
  color: #fff !important;
}

div.dataTables_wrapper div.dataTables_length select {
  width: auto;
  display: inline-block;
  background-color: #000 !important;
  border-color: #ae0014 !important;
  color: #fff !important;
}

.jqx-widget-metrodark .jqx-grid-cell-selected-metrodark, .jqx-grid-cell-selected-metrodark {
  border-color: #cf031b !important;
  background-color: #cf031b  !important;
}

.jqx-fill-state-hover-metrodark {
  background-color: #ae0014 !important;
  border-color: #ae0014 !important;
}

.jqx-fill-state-pressed-metrodark {
  border-color: #ae0014 !important;
  background-color: #ae0014 !important;
}

.jqx-widget-content-metrodark {
  border-color: rgb(45, 45, 49) !important;
  background-color: #121213 !important;
}

.flexslider, .flexslider .slides > li, .flexslider2, .flexslider2 .slides > li, .slider-height {
  height: 250px !important;
  border: 1;
}

.slides-text {
  padding-top: 55px !important;
}

.responsive-square {
  float:left;
  position: relative;
  width: 100%;
  padding-bottom: 75%; /* = width for a 1:1 aspect ratio */
  overflow:hidden;
  
}

.responsive-square-content {
  position:absolute;
  height:90%; /* = 100% - 2*10% padding */
  width:100%; /* = 100% - 2*5% padding */
  padding: 5%;
}

.responsive-square-content:hover {
  position:absolute;
  height:90%; /* = 100% - 2*10% padding */
  width:100%; /* = 100% - 2*5% padding */
  padding: 5%;
  opacity: 50%;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
  position: relative;
  min-height: 1px;
  padding-right: 2px;
  padding-left: 2px;
}

.probootstrap-footer.probootstrap-bg {
  padding: 1em !important;
}

body {
  background-color: #111; 
}

.probootstrap-loader {
  background: #000 url(../img/loader.gif) center no-repeat !important;
}

.probootstrap-slider.flexslider{
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}

.probootstrap-animated {
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}